.icon-skeleton {
  margin: 10px 5px;
  width: 24px;
}

.text-skeleton {
  margin: 10px;
  padding: 0 40%;
}

.repository-files {
  width: 100%;
}

.folder-icon {
  color: #808080d9;
  padding-right: 10px;
}
