<ng-container *ngIf="isLoading">
  <app-skeleton-loading [isLoading]="isLoading" message="">
    <div skeleton-loading>
      <div *ngFor="let item of [1,2,3,4,5]">
        <div skeleton-list fxLayout="row">
          <div skeleton-text class="icon-skeleton">&nbsp;</div>
          <div skeleton-text class="text-skeleton">&nbsp;</div>
        </div>
      </div>
    </div>
  </app-skeleton-loading>
</ng-container>

<table mat-table [dataSource]="repositoryFiles" class="repository-files"  *ngIf="repositoryFiles && !isLoading">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="folder-icon">{{element.type === "tree" ? "folder": "insert_drive_file"}}</mat-icon>
        {{element.name}}
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
