.skeletonLoading {
  display: block;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}

::ng-deep [fp-skeleton-loading] {
  pointer-events: none;
  user-select: none;
}

::ng-deep [skeleton-block] {
  background-color: #ccc !important;
  color: transparent !important;
  background-image: linear-gradient(to right, #ccc 100px, #dfdfdf 500px);
  animation: skeletonChange 500ms ease-in-out alternate infinite;
}

::ng-deep [skeleton-list] {
  background-color: #fff !important;
  color: #dfdfdf !important;
}

::ng-deep [skeleton-grid] {
  background-color: #dfdfdf !important;
  color: transparent !important;
  background-image: linear-gradient(to bottom, transparent 95%, #ccc 95%, #ccc), linear-gradient(to right, transparent 95%, #ccc 95%, #ccc);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: repeat;
  animation: skeletonChange 500ms ease-in-out alternate infinite;
}

::ng-deep [skeleton-text] {
  background-color: #fff;
  border: solid 1px #dfdfdf;
  border-radius: 4px;
  background-image: linear-gradient(to right, #ccc 100px, #dfdfdf 500px);
  animation: skeletonChange 500ms ease-in-out alternate infinite;
}

@keyframes skeletonChange {
  from {
      opacity: 1;
  }
  to {
      opacity: 0.67;
  }
}
