<div [ngClass]="{ skeletonLoading: true, isLoading: isLoading, useOverlay: useOverlay, useSpinner: useSpinner }" fxFlex="1 1 100%">

  <div skeleton-container *ngIf="isLoading" [@fadeOutSkeleton] fxFlexFill>
      <ng-content select="[skeleton-loading]"></ng-content>
  </div>

  <div loaded-content class="loaded-content" [@fadeContent]="isLoading ? 'out' : 'in'" fxFlex="1 1 100%">
      <ng-content></ng-content>
  </div>
</div>
