<mat-card class="project-details" *ngIf="projectDetails">
  <mat-card-title>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img [src]="projectDetails.avatar_url" class="project-avatar" *ng-If="projectDetails.avatar_url">
      <span *ngIf="!projectDetails.avatar_url" class="project-name-avatar">{{projectDetails.name.charAt(0).toUpperCase()}}</span>
      {{projectDetails.name}}
    </div>
  </mat-card-title>
  <mat-card-content>
    <div>
      <p>{{projectDetails.description}}</p>
    </div>
  </mat-card-content>
</mat-card>
