.project-details {
  .project-avatar {
    width: 40px;
    height: 40px;
  }
  .project-name-avatar {
    width: 40px;
    height: 40px;
    text-align: center;
    background: #dbdbdbfa;
    border-radius: 4px;
    line-height: 40px;
    margin-right: 10px;
  }
}
