<section class="home-container">
  <div fxLayout="column">
    <mat-card>
      <mat-card-title></mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Project ID</mat-label>
          <input matInput type="text" [(ngModel)]="projectId" placeholder="Enter Project ID">
        </mat-form-field>
        <button mat-icon-button aria-label="Search" (click)="getProjectDetails()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
    <div class="repository-container">
      <div class="repository-header">
        <app-repository-header [projectDetails]="projectDetails"></app-repository-header>
      </div>
      <div class="repository-files">
        <app-repository-files [repositoryFiles]="repositoryFiles" [isLoading]="isLoading"></app-repository-files>
      </div>
    </div>
  </div>
</section>
