.home-container {
  padding: 15px;
}

.repository-container {
  width: 50%;
  margin: 15px 30%;
}

.repository-files {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

